*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

button {
  text-transform: none;
}

button [type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

a {
  color: #1b262c;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
}

section {
  text-align: center;
  margin: 100px 0;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

li {
  padding: 20px;
  margin: 10px 15px;
  background-color: #f9f9fd;
  border-radius: 15px;
  border: 1px solid #e9ecef;
}

.search-result {
  max-width: 80%;
  margin: 0 auto;
}
